<div class="chat-header">
  <div class="chatroom-name">
    <div class="header-title">
      hogehoge
    </div>
  </div>
  <div class="chat-finish">
    <div class ="header-btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat-body">
  <div class ="message">
    <div class ="name-date">
      <div class ="message-name">
        Tom
      </div>
      <div class ="date">
      2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class ="message-text">
      おはよう
    </div>
  </div>

  <div class ="message">
    <div class ="name-date">
      <div class ="message-name">
        Tom
      </div>
      <div class ="date">
      2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class ="message-text">
      ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？ご飯何？
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>