.wrapper{
  display: flex;
}

.side-ber{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.side-header{
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-body{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.chat-header{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.chat-body{
  height: calc(100% - 190px);
  background-color: #fafafa;
  padding-top: 46px 40px 0 40px;
  overflow: scroll;
  box-sizing: border-box;
}

.header-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-room {
  font-size: 10px;
}

.create-room a{
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}

.chatroom{
  padding: 20px 0 40px;
}

.chatroom a{
  color: white;
  text-decoration: none;
}
.chatroom-name{
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.chat-finish{
  margin-top: 40px;
}

.chat-finish a{
  padding: 20px;
  border: 1px solid darkred;
  color: darkred;
  text-decoration: none;
}

.message{
  padding: 10px 40px;
  margin-bottom: 40px;
  background-color: fuchsia;
}

.message-name{
  font-size: 16px;
  color: #434a54;
}

.message-text{
  font-size: 14px;
  color: #434a54;
  background-color: darkturquoise;
}

.date{
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}

.name-date{
  display: flex;
  background-color: forestgreen;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
  box-sizing: border-box;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}
